@use "../abstracts/variables" as *;

html, body {
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: $font-primary; // Aplicar Inter para mejor ergonomía
    background-color: $back-color;
    // background-color: $color-dark;
    color: $color-text;
    line-height: 1.7; // Mejor legibilidad prolongada
    font-weight: 400; // Peso óptimo para lectura
    -webkit-font-smoothing: antialiased; // Suavizado en Mac/iOS
    -moz-osx-font-smoothing: grayscale; // Suavizado en Firefox Mac
}

$sections: ".presentation",".about-me", ".skills-habilities", ".education", ".projects";
#{$sections}{
    width: 75vw;
    margin: 0 auto;
    // segun gpt deberia jalar con esto en toda media query
    @media (max-width:768px) {
        width: 90vw;
    }

    @media (max-width:480px) {
        width: 95vw;
    }
}
