@use "sass:color";
@use "button";
@use "../abstracts/variables" as *;

.presentation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;

  h2 {
    font-size: 2rem;
    color: $color-primary;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;

    span {
      color: $color-primary;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;

  button {
    @extend .button;
    color: $color-light;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: scale(1.05);
      background-color: color.adjust($color-secondary, $lightness: 8%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    align-items: center;
  }
}

.social-networks {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: thin solid $color-secondary;
    padding: 0.5rem;
    border-radius: 50%;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.my-icon {
  width: 13vw;
  max-width: 150px;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    width: 35vw;
    height: auto;
    order: -1; // mueve arriba la imagen
    margin-top: 1rem;
  }
}
