@use 'base/normalize';
@use 'components/body';

@use 'layout/header';
@use 'components/presentation';
@use 'components/aboutMe';
@use 'components/skills';
@use 'components/education'; // EF SET Overlay Fix
@use 'components/projects';
@use 'components/detail-modal';
@use 'components/contact-cta';
@use 'layout/footer';