---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
import ContactCta from '../components/ContactCta.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="David Manjarres | Full Stack Developer - Java, Spring Boot, React">
  <Header />
  <main>
    <Hero />
    <hr />
    <About />
    <hr />
    <Skills />
    <hr />
    <Education />
    <hr />
    <Projects />
    <ContactCta />
  </main>
  <Footer />
</Layout>
