.main-menu{
    display: flex;
    align-items: center;
    background-color: rgba(51, 51, 51, 1);
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease; 
}
.main-menu.sticky {
    background-color: rgba(51, 51, 51, 0.85); 
}

.main-menu * {
    color: #ccc;
}

.right-title-menu ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.right-items-menu li a{
    text-decoration: none;
}