$font-primary: "Open Sans", sans-serif;
$font-primary: 'Roboto', sans-serif;


$color-primary: rgb(179, 159, 155); /* Color primario */
$color-secondary: rgb(82, 98, 87); /* Color secundario */
$color-red: #541C32;
$color-green: #081617;
$color-dark: rgb(5.1, 10.2, 11.4);
$color-light: #ecf0f1;
$back-color:#31333b;
$base-font-size: 16px;